:root{
    --circleButtonsBackgroundColor:#090909;
    --circleButtonsHoverFilter:drop-shadow(0px 0px 10px black);
    --dropdownMenuBorderColor:4px solid #111;
    --dropdownMenuFilterShadow:drop-shadow(12px 12px 12px black);
}

.button-wrapper {
    flex: 1;
    display: inline-block;
    vertical-align: top;
    margin-bottom:1rem;
}
.text-under-circleButtons{
    text-align: center;
    margin-top:10px;
}
.circleButtonsLeft:hover{
    filter:var(--circleButtonsHoverFilter);
}
.circleButtonsRight:hover{
    filter:var(--circleButtonsHoverFilter);
}
.circleButtonsLeft{
    width:192px;
    height:192px;
    border:4px solid red;
    border-radius:120px;
    background-color:var(--circleButtonsBackgroundColor);
    color:white;
    text-align:center;
    line-height:120px;
    flex-grow:1;
    margin: 0 10px;
    margin-top:0;
    margin-bottom:0;
}
.circleButtonsRight{
    width:192px;
    height:192px;
    border:4px solid red;
    border-radius:120px;
    background-color:var(--circleButtonsBackgroundColor);
    color:white;
    text-align:center;
    line-height:120px;
    margin: 0 10px;
    margin-top:0;
    margin-bottom:0;
}
.dropdown-menu#addFundsDropdown{
    /* !important because it override .dropdown-menu margin:0;  and i cant even override it by inline style, but still want to have unique this one, not for all dropdowns this style */
    margin-top:3rem !important;
    margin-right:25% !important;
    margin-left:25% !important;
    margin-bottom:3rem !important;
    text-align:center;
    width:50%;
    left:40%;
    transition: all 0.4s ease-in-out;
    animation:textanimation 1.1s ease-in-out forwards;
    background-color:#ccc;
    border:var(--dropdownMenuBorderColor);
    border-radius:16px;
    filter:var(--dropdownMenuFilterShadow);

}
#addFundsDropdown a{
    transition: all 0.4s ease-in-out;
}
@keyframes textanimation{
    0%{
        opacity:0;
        transform: translateY(200px);
    }
    100%{
        opacity:1;
        transform:translateY(100px);
    }
}
#addFundsDropdown .dropdown-item {
    width:100%;
    height:50px;
    align-items: center;
    padding:0;
    text-align: left;
    margin-left:15px;
    transition:color 0s !important;
}
.dropdown-item#dropdownItemForm{
    height:140px;
}
#addFundsDropdown .dropdown-item:hover{
    background-color: transparent !important;
}
#addFundsDropdown .dropdown-item:active{
    color: black !important;
}